body {
   margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937; 
    padding-left: 25px;
}

.logo {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: 30px;
    
}

.doomImage {
    width: auto;
    height:100px;
}


.links {
    color: #F9FAF8;
    display:flex;
    justify-content: center;
    margin-right: 30px;
    width: 400px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    list-style-type: none;
}

.first {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    padding: 30px;
    height: 400px;

}

.awesome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    height: auto;
}

.awesomeHeader {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    display:flex;
    margin: 0;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    /* width: 400px; */
    flex-wrap: wrap;
}

.aButton {
    text-decoration: none;
    background-color: red;
    border-radius: 10px;
    color: white;
    border: solid white;
}

.imageContainer {
    border: solid #F9FAF8;
    display: flex;
    margin-left: 50px;
    /* max-height: 300px; */
}

.image {
    display: flex;
    width: 100%;
    height:auto;
    /* max-height: 300px; */
}

.second {
    display:flex;
    flex-direction: column;
    height: 400px;
    color: #1F2937;
    font-size: 36px;
    font-weight:bolder;
}

.random {
    display: flex;
    justify-content: center;
}

.panel {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
}

.cardImage {
    display: flex;
    width: auto;
    max-height: 100px;
    border: solid red;
    border-radius: 25px;
}

.imageSubtext {
   font-size: 18px; 
}

.third {
    display: flex;
    justify-content: center;
    height: 650px;
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #1F2937;
    font-size: 25px;
    font-style:italic;
    font-weight: lighter;
    padding: 20px;
    width: 600px;
    height: 400px;

}

.inspiration {
    display: flex;
    justify-content: center;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.action {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:red;
    width: 600px;
    height: 100px;
    border: solid red;
    border-radius: 25px;
}

.callToAction {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
    padding:0px;
    /* align-items: center; */
}

.actionH4 {
    display:flex;
    margin: 0;
    color: white;
}

.actionP {
    color: white
}

.signUp {
    text-decoration: none;
    color: white;
    display:flex;
    align-items: center;
    height:30px;
    border-radius: 10px;
    border: solid white;
    background-color: red;
}

.footer {
    display:flex;
    justify-content: center;
    background-color: #1F2937;
    margin:auto;
}

.copyright {
    color: #F9FAF8;
}